<%= render 'shared/errors', obj: @event %>
	
	
<h2>Event </h2>
<%= form_for @event, html: { class: "new-event"} do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :hero_image_url %>
		<%= f.text_field :hero_image_url, class: "form-control" %>
	</div>

	<div class="form-group">
		<label>Description</label>
		<%= f.text_area :extended_html_description, rows: 8,  class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :starts_at %>
		<div class="col-md-12">
		<%= f.text_field :starts_at, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :ends_at %>
		<div class="col-md-12">
		<%= f.text_field :ends_at, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :category %>
		<%= f.select(:category_id, Category.all.collect { |c| [c.name, c.id]}, {}, {:class => "form-control"}) %>
	</div>

	<div class="form-group">
		<%= f.label :venue %>
		<%= f.select(:venue_id, Venue.all.collect { |v| [v.name, v.id]}, {}, {:class => "form-control"}) %>
	</div>

	<div class="row">
    <div class="col-md-3">
			<%= f.submit "Countinue", class: "btn btn-success btn-block" %>
		</div>
	</div>

<% end %>