<%= render 'shared/errors', obj: @ticket %>

<%= form_for @ticket, url: event_tickets_path(@event), html: {class: "ticket-form"} do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :price %>
		<%= f.text_field :price, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :max_quantity %>
		<%= f.text_field :max_quantity, class: "form-control" %>
	</div>

	<%= f.submit "Add ticket", class: "btn btn-success" %>
<% end %> 
