<!DOCTYPE html>
<html>
<head>
  <title>Coder Ticket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
    <% unless user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_session_path %>">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
      </li>

    <% else %>

      <li class="nav-item">
        <a class="nav-link" href="<%= destroy_user_session_path %>">Sign Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= orders_path %>">Your order</a>
      </li>

    <% end %>
    </ul>
  </nav>  

<%= yield %>

</body>
</html>
